.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  cursor: pointer;
  list-style: none;
}
