.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
  margin: 5px;
}

.item {
  width: 100px;
}
