.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
  margin: 5px;
}
